.form-container{
    border: solid 5px white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto;
}
.form-container input{
    border: solid 5px white;
    margin: 10px;
    border: 1px solid black;
}
/* .form-container input{
    border: solid 5px white;
    margin: 10px;
    border: 1px solid black;
} */

.adress-container{
    margin: 10px;
    border: solid 2px white;
    padding: 20px;
}